<div class="history-bar-timeline" {{did-insert this.recalc}}>
	{{#each @model as |organization index|}}
		<div class="row">
			<div
				class="history-bar-organization columns five {{if (mod index 2) 'offset-by-seven'}}"
				data-250-center-top="{{if (mod index 2) 'right' 'left'}}: -80px; opacity: 0;"
				data--50-center-top="{{if (mod index 2) 'right' 'left'}}: 0px; opacity: 1;"
				data-date-from="{{organization.date.from}}"
				data-date-to="{{organization.date.to}}"
			>
				<HType @tagName={{@h1}} classNames="org-date t-fsize-smaller">{{organization.date.from}} - {{organization.date.to}}</HType>
				<HType @tagName={{@h2}} className="org-name t-shadow">{{organization.name}}</HType>
				<HType @tagName={{@h3}} class="org-title t-shadow">{{organization.title}}</HType>
				<hr />
				<ul>
					{{#each organization.accomplishments as |accomplishment|}}
						<li>{{accomplishment}}</li>
					{{/each}}
				</ul>
			</div>
		</div>
	{{/each}}

	<div id="skrollr-history-bar-line" class="history-bar-line">
		<table class="history-bar-markers">
			<tbody>
				{{#each this.dates as |date index|}}
					<tr>
						<td>
							<div class="history-bar-marker" data-date="{{date}}"><i>{{date}}</i></div>
							{{#if (eq index (sub this.dates.length 1))}}
								<div class="history-bar-marker history-bar-marker-last" data-date="{{sub date 1}}"><i>{{sub date 1}}</i></div>
							{{/if}}
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
		<div class="history-bar-fill" data-center-top="height: 0%;" data-_shb_line-center-top="height: 100%;">
			<div class="history-bar-indicator"></div>
		</div>
	</div>
</div>
